# SQL Queries

In [ ]:
import psycopg2
import pandas as pd
import os

import warnings
warnings.filterwarnings('ignore')

## Establishing a connnection with a database

We actually need to establish a connection with our database vendor, in this case PostgreSQL, which will allow us to run queries against our database. Postgres is a bit of software that we need to find and connect to. If this is running locally (as in on our computers then we can use our machine's local IP address and just find the port that postgres is running on).

If we are running locally, our connection parameters will look something like the following:

```python
psycopg2.connect(database="databasename", 
                 user="postgres", 
                 password="somepassword",
                 host="127.0.0.1",
                 port="5432")
```

However, this information is sensitive and should never be exposed for security purposes. It is for this reason that this notebook is not hard-coding these values in. Instead, we are setting these values as part of the OS environment and reading them in.

In [ ]:
dbname = os.environ.get("DB_NAME")
dbuser = os.environ.get("DB_USER")
dbpass = os.environ.get("DB_PASSWORD")
dbhost = os.environ.get("DB_HOST")
dbport = os.environ.get("DB_PORT")

conn = psycopg2.connect(database=dbname, 
                        user=dbuser, 
                        password=dbpass,
                        host=dbhost,
                        port=dbport)

### A sample query using `psycopg2`

When establishing and familiarizing yourself with a database, it is always best to perform the *hello, world* of SQL...

```sql
SELECT * 
FROM table_name;
```

In [ ]:
# a cursor just allows us to execute queries against a database connection
cur = conn.cursor()
cur.execute("SELECT * FROM albums;") 
results = cur.fetchall()

# iterate through the list of tuples
for row in results: 
    print(row)

## Passing the connection to `pandas`

From here on out in this notebook we are going to pass the query and the connection to `pandas`'s `read_sql_query` method for formatting purposes. DataFrames just make the output a bit cleaner.

Let's try it out with the same query.

In [ ]:
pd.read_sql_query("SELECT * FROM songs;", conn)

# Our Exercises for Today

### 1. List the total number of songs

In [ ]:
query = """

"""

pd.read_sql_query(query, conn)

### 2. List the songs with a rating over 9

In [ ]:
query = """

"""

pd.read_sql_query(query, conn)

### 3. List the albums that have genre of "folk" arranged alphabetically by artist and then by release date newest to oldest.

In [ ]:
query = """

"""

pd.read_sql_query(query, conn)

### 4. List all of the genres, don't repeat any.

In [ ]:
query = """

"""

pd.read_sql_query(query, conn)

## 5. List all of the albums along with their songs.

In [ ]:
query = """

"""

pd.read_sql_query(query, conn)

## 6. List all of the albums along with how many songs each album has.

In [ ]:
query = """

"""

pd.read_sql_query(query, conn)

## 7. List all of the albums with more than 10 songs.

In [ ]:
query = """

"""

pd.read_sql_query(query, conn)

## 8. List ALL albums along with their songs

In [ ]:
query = """

"""

pd.read_sql_query(query, conn)

## 9. List albums along with their average song rating.

In [ ]:
query = """

"""

pd.read_sql_query(query, conn)

### BONUS: List albums and songs with ratings higher than their albums average.

In [ ]:
query = """

"""

pd.read_sql_query(query, conn)